<template>
  <div id="app">
    <v-row justify="center" align="center">
      <span>Recherche par :</span>

      {{ this.recherche }}
      <v-radio-group v-model="choix" row>
        <v-radio :key="1" :label="`Année`" :value="`année`"></v-radio>
        <v-radio :key="2" :label="`Titre`" :value="`titre`"></v-radio>
        <v-radio
          :key="3"
          :label="`Réalisateur`"
          :value="`réalisateur`"
        ></v-radio>
      </v-radio-group>
      <v-col cols="12" sm="6" md="3">
        <v-text-field
          label="Recherche"
          v-model="recherche"
          placeholder="Tapez votre recherche"
          solo
          required
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row justify="center" align="center">
      <v-btn small v-on:click="pageAjouter">Ajouter un nouveau film</v-btn>
    </v-row>
    <br /><br />
    <v-row justify="center" align="center">
      <ul>
        <movieItem
          v-for="(movie, i) in moviesFiltré"
          v-bind:key="i"
          v-bind:id="i"
          v-bind:movie="movie"
          v-on:btnSupprimer="clickSupprimer(i)"
        ></movieItem>
      </ul>
    </v-row>
  </div>
</template>

<script>
import movieItem from "../components/movieItem.vue";

export default {
  name: "Accueil",
  components: {
    movieItem
  },
  data() {
    return {
      choix: "année",
      recherche: "",
      movies: window.shared_data.movies
    };
  },
  methods: {
    pageAjouter() {
      this.$router.push({ path: "/ajouter" });
    }
  },
  computed: {
    moviesFiltré() {
      if (this.choix == "année") {
        return this.movies.filter(x =>
          x.anneePublication.includes(this.recherche)
        );
      } else if (this.choix == "titre") {
        return this.movies.filter(x => x.title.includes(this.recherche));
      } else if (this.choix == "réalisateur") {
        return this.movies.filter(
          x =>
            x.realisateur.nom.includes(this.recherche) ||
            x.realisateur.prenom.includes(this.recherche)
        );
      } else {
        return this.movies;
      }
    }
  }
};
</script>
