<template>
  <v-row>
    <v-col cols="12" sm="6" md="3">
      <span>Titre du film :</span><br />
      <v-text-field
        label="Titre du film"
        v-model="movie.title"
        solo
        required
      ></v-text-field
      ><br /><br />
      <span>Année de publication du film:</span><br />
      <v-text-field
        label="Année de publication du film"
        v-model="movie.anneePublication"
        solo
        required
      ></v-text-field
      ><br /><br />
      <span>Langue du film :</span><br />
      <v-text-field
        label="Langue du film"
        v-model="movie.langue"
        solo
        required
      ></v-text-field
      ><br /><br />
      <span>Url du poster :</span><br />
      <v-text-field
        label="Url du poster"
        v-model="movie.urlPoster"
        solo
      ></v-text-field
      ><br /><br />
      <span>Nom du réalisateur :</span><br />
      <v-text-field
        label="Nom de l'auteur"
        v-model="movie.realisateur.nom"
        solo
        required
      ></v-text-field
      ><br /><br />
      <span>Prénom du réalisateur :</span><br />
      <v-text-field
        label="Prenom de l'auteur"
        v-model="movie.realisateur.prenom"
        solo
        required
      ></v-text-field
      ><br /><br />
      <span>Nationalité du réalisateur :</span><br />
      <v-text-field
        label="Nationalité de l'auteur"
        v-model="movie.realisateur.nationalité"
        solo
        required
      ></v-text-field
      ><br /><br />
      <span>Date de naissance du réalisateur modifiée :</span><br />
      <v-date-picker
        v-model="movie.realisateur.dateDeNaissance"
        full-width
        :landscape="$vuetify.breakpoint.smAndUp"
        class="mt-4"
      ></v-date-picker
      ><br /><br />
      <span>Genre du film :</span><br />
      <v-select
        :items="genresFilm"
        v-model="movie.genre"
        label="Genre du film"
        solo
      ></v-select>
      <span>Genre du film :</span><br />
      <v-select
        :items="notes"
        v-model="movie.note"
        label="Note du film"
        solo
      ></v-select>

      <v-btn small v-on:click="checkForm">Modifier</v-btn
      ><v-btn small v-on:click="btnRetour">Retour</v-btn>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "AjoutMovie",
  data() {
    return {
      movie: {
        title: "",
        anneePublication: "",
        langue: "",
        urlPoster: "",
        realisateur: {
          nom: "",
          prenom: "",
          nationalité: "",
          dateDeNaissance: ""
        },
        genre: "",
        note: ""
      },
      genresFilm: window.shared_data.genresFilm,
      notes: ["0", "1", "2", "3", "4", "5"]
    };
  },
  methods: {
    btnRetour() {
      this.$router.push({ path: "/" });
    },
    checkForm: function(e) {
      if (
        this.movie.title &&
        this.movie.anneePublication &&
        this.movie.realisateur.nom &&
        this.movie.realisateur.prenom
      ) {
        if (this.movie.urlPoster == "") {
          this.movie.urlPoster =
            "https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png";
        }
        window.shared_data.movies.push(this.movie);
        this.$router.push({ path: "/" });
      }

      this.errors = [];

      if (!this.movie.title) {
        this.errors.push("Title required.");
      }
      if (!this.movie.anneePublication) {
        this.errors.push("Publication year required.");
      }
      if (!this.movie.realisateur.nom) {
        this.errors.push("Name required.");
      }
      if (!this.movie.realisateur.prenom) {
        this.errors.push("Surname required.");
      }

      e.preventDefault();
    }
  }
};
</script>
