<template>
  <v-row>
    <v-col cols="12" sm="6" md="3">
      <span>Titre du film :</span><br />
      <v-text-field
        label="Titre du film"
        v-model="title"
        solo
        required
      ></v-text-field
      ><br /><br />
      <span>Année de publication du film:</span><br />
      <v-text-field
        label="Année de publication du film"
        v-model="anneePublication"
        solo
        required
      ></v-text-field
      ><br /><br />
      <span>Langue du film :</span><br />
      <v-text-field
        label="Langue du film"
        v-model="langue"
        solo
        required
      ></v-text-field
      ><br /><br />
      <span>Url du poster :</span><br />
      <v-text-field
        label="Url du poster"
        v-model="urlPoster"
        solo
      ></v-text-field
      ><br /><br />
      <span>Nom du réalisateur :</span><br />
      <v-text-field
        label="Nom de l'auteur"
        v-model="nom"
        solo
        required
      ></v-text-field
      ><br /><br />
      <span>Prénom du réalisateur :</span><br />
      <v-text-field
        label="Prenom de l'auteur"
        v-model="prenom"
        solo
        required
      ></v-text-field
      ><br /><br />
      <span>Nationalité du réalisateur :</span><br />
      <v-text-field
        label="Nationalité de l'auteur"
        v-model="nationalité"
        solo
        required
      ></v-text-field
      ><br /><br />
      <span>Date de naissance du réalisateur :</span><br />
      <span>{{ movie.realisateur.dateDeNaissance }}</span
      ><br /><br />
      <span>Date de naissance du réalisateur modifiée :</span><br />
      <v-date-picker
        v-model="date"
        full-width
        :landscape="$vuetify.breakpoint.smAndUp"
        class="mt-4"
      ></v-date-picker
      ><br /><br />
      <span>Genre du film :</span><br />
      <v-select
        :items="genresFilm"
        v-model="genre"
        label="Genre du film"
        solo
      ></v-select>
      <span>Genre du film :</span><br />
      <v-select
        :items="notes"
        v-model="note"
        label="Note du film"
        solo
      ></v-select>

      <v-btn small v-on:click="btnModifier">Modifier</v-btn
      ><v-btn small v-on:click="btnAnnuler">Annuler</v-btn>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "EditMovie",
  data() {
    return {
      date: new Date().toISOString().substr(0, 10),
      movie: window.shared_data.movies[this.$route.params.id],
      genresFilm: window.shared_data.genresFilm,
      title: "",
      anneePublication: "",
      langue: "",
      urlPoster: "",
      nom: "",
      prenom: "",
      nationalité: "",
      dateDeNaissance: "",
      genre: "",
      note: "",
      notes: ["0", "1", "2", "3", "4", "5"]
    };
  },
  methods: {
    initialised() {
      this.title = this.movie.title;
      this.anneePublication = this.movie.anneePublication;
      this.langue = this.movie.langue;
      this.urlPoster = this.movie.urlPoster;
      this.nom = this.movie.realisateur.nom;
      this.prenom = this.movie.realisateur.prenom;
      this.nationalité = this.movie.realisateur.nationalité;
      this.dateDeNaissance = this.movie.realisateur.dateDeNaissance;
      this.genre = this.movie.genre;
      this.note = this.movie.note;
    },
    btnModifier() {
      if (this.urlPoster == "") {
        this.urlPoster =
          "https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png";
      }
      window.shared_data.movies[this.$route.params.id].title = this.title;
      window.shared_data.movies[
        this.$route.params.id
      ].anneePublication = this.anneePublication;
      window.shared_data.movies[this.$route.params.id].langue = this.langue;
      window.shared_data.movies[
        this.$route.params.id
      ].urlPoster = this.urlPoster;
      window.shared_data.movies[
        this.$route.params.id
      ].realisateur.nom = this.nom;
      window.shared_data.movies[
        this.$route.params.id
      ].realisateur.prenom = this.prenom;
      window.shared_data.movies[
        this.$route.params.id
      ].realisateur.nationalité = this.nationalité;
      window.shared_data.movies[
        this.$route.params.id
      ].realisateur.dateDeNaissance = this.dateDeNaissance;
      window.shared_data.movies[this.$route.params.id].genre = this.genre;
      window.shared_data.movies[this.$route.params.id].note = this.note;
      this.$router.push({ path: `/movie/${this.$route.params.id}` });
    },
    btnAnnuler() {
      this.$router.push({ path: `/movie/${this.$route.params.id}` });
    }
  },
  beforeMount() {
    this.initialised();
  }
};
</script>
