<template>
  <v-row>
    <v-col justify="center" align="center">
      <v-img
        :src="movie.urlPoster"
        aspect-ratio="1.7"
        contain
        height="100"
        width="100"
      ></v-img>

      <span>Titre du film :</span><br />
      <span> {{ movie.title }} </span><br /><br />
      <span>Année de publication du film:</span><br />
      <span> {{ movie.anneePublication }} </span><br /><br />
      <span>Langue du film :</span><br />
      <span> {{ movie.langue }} </span><br /><br />
      <span>Nom du réalisateur :</span><br />
      <span> {{ movie.realisateur.nom }} </span><br /><br />
      <span>Prénom du réalisateur :</span><br />
      <span> {{ movie.realisateur.prenom }} </span><br /><br />
      <span>Nationalité du réalisateur :</span><br />
      <span> {{ movie.realisateur.nationalité }} </span><br /><br />
      <span>Date de naissance du réalisateur :</span><br />
      <span> {{ movie.realisateur.dateDeNaissance }}</span
      ><br /><br />
      <span>Genre du film :</span><br />
      <span> {{ movie.genre }}</span
      ><br /><br />

      <v-btn small v-on:click="btnModifier">Modifier</v-btn
      ><v-btn small v-on:click="btnSupprimer">Supprimer</v-btn>

      <br /><br />

      <v-btn small v-on:click="btnRetour">Retour</v-btn>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "MovieDetails",
  methods: {
    btnSupprimer() {
      window.shared_data.movies.splice(this.$route.params.id, 1);
      this.$router.push({ path: "/" });
    },
    btnModifier() {
      this.$router.push({ path: `/movie/${this.$route.params.id}/edit` });
    },
    btnRetour() {
      this.$router.push({ path: "/" });
    }
  },
  computed: {
    movie() {
      return window.shared_data.movies[this.$route.params.id];
    }
  }
};
</script>
