<template>
  <li>
    <span>{{ movie.title }}</span
    ><br />
    <span>{{ movie.anneePublication }}</span
    ><br />
    <span>{{ movie.realisateur.prenom }} {{ movie.realisateur.nom }}</span
    ><br />

    <v-img
      :src="movie.urlPoster"
      aspect-ratio="1.7"
      contain
      height="50"
      width="50"
    ></v-img>

    <br />
    <v-btn small v-on:click="btnDetails">Details</v-btn>
  </li>
</template>

<script>
export default {
  name: "movieItem",
  props: {
    movie: Object,
    id: Number
  },
  methods: {
    btnSupprimer() {
      this.$emit("btnSupprimer");
    },
    btnDetails() {
      this.$router.push({ path: `/movie/${this.id}` });
    }
  },
  computed: {}
};
</script>
